@charset "utf-8";
/* CSS Document */
body {
	color: rgb(75, 153, 51);
	background: tan;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: yellow;
	align-items: center;
}
#cabecera{
	float: left;
	text-align: center;
	width: 800px;
}
#contenido{
	display: inline-flex;
	width: 800px;
}
nav{
	background-color: red;
    width: 200px;
    font-size: 15px;
    color: white;
}
ul{
	list-style-type:none;
	padding: 10px;
}
section{
	background-color: blue;
    width: 300px;
    font-size: 15px;
    color: white;
	padding: 10px;
}
aside{
	background-color: green;
    width: 300px;
    font-size: 15px;
    color: white;
    padding: 10px;
}